{% extends 'AcmeDashboardBundle::layout.html.twig' %}
{% block body %}
	<div class="row">
		<div class="large-12 columns">
			<h3>Create QR CODE</h3>
		</div>
	</div>
	
	<div class="row">
		<form method="POST" class="large-12 columns" action="{{ path('acme_dashboard_create', { name: 'user'}) }}"> 
			<br/>
			<div class="row">
				<div class="large-6 columns">Set weight:</div>
				<select class="large-6 columns" name="weight" id="weight">
			        {% for weight in weights %}
			       		<option value="{{weight.points}}">{{weight.points}}</option>
			        {% endfor %}
				</select>
			</div>
			<br/>
			<div class="row">
				<div class="large-6 columns">Quantity:</div>
				<input class="large-6 columns" name="quantity" id="quantity" value="1" />
			</div>
			<br/>
			<div class="row">
				<input class="large-7 columns small button" type="submit" name="create_qr"  value="Create"/>
			</div>
		</form>
	</div>
{% endblock %}