{% extends 'AcmeDashboardBundle::layout.html.twig' %}
{% block body %}

	<h2>CRUD Actions</h2>

	<div class="row">
		<div class="large-6 columns">
			<div class="row">
			<a href="{{ path('qrcode') }}">QRcodes</a>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="row">
			<a href="{{ path('weight')}}">QRcode Weights</a>
			
			</div>
		</div>
	</div>

{% endblock %}