{% extends 'AcmeDashboardBundle::layout.html.twig' %}
{% block body %}
	<div class="row">
		<div class="large-12 columns">Statistics</div>
	</div>
	<br/>
	<div class="row">
		<div id="piechart" style="height:250px;">
			<img src="{{asset('images/loader.GIF')}}" />
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="large-12 columns" id="table_div">
			<img src="{{asset('images/loader.GIF')}}" />
		</div>
	</div>
	<br>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
    	var GET_DATA_PATH = "{{path('acme_dashboard_getdata')}}";
    </script>
    <script type='text/javascript' src='{{asset("js/statistics.js")}}'></script>


{% endblock %}

